<h1>{{message}}</h1>
<ul>
	<li><a href="/getCars">get cars</a></li>
	<li><a href="/getOne/R58">get one . not funtional yet</a></li>
</ul>

<button id="F56" class="deleteButton"></button>
<button id="F55" class="getButton">get XHR data</button>
<button id="F56" class="getButton">get XHR data</button>
<button id="R58" class="getButton">get XHR data</button>
